#Python
__pycache__/
*.pyc

#Node
node_modules/
build/
dist/

#D3 CACHE
*.svg

#Envirommemt
.env
venv/
src/python/venv/
src/server/cache/
*.incomplete

#SYSTEM
.DS_Store
Thumbs.db

#LOGS
*.log

#IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace